<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="projectCUPU1ConnectionString" connectionString="Data Source=.;Initial Catalog=projectCUPU1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="projectCUPU1ConnectionString2" connectionString="Data Source=.;Initial Catalog=projectCUPU1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="projectCUPU1Entities" connectionString="metadata=res://*/plane.csdl|res://*/plane.ssdl|res://*/plane.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=projectCUPU1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="projectCUPU1Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=projectCUPU1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>